/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
/wrapper
/native
/kotlin-profile
/jdks
/gradle
/daemon
/android
/.tmp
/.kotlin
/.gradle
/.idea
/caches
.externalNativeBuild
.cxx
local.properties
/src/main/res/values/secrets.xml
/google-services.json
/release
/debug
.gitignore
app/release
/app/release
release
debug
